@import "tailwindcss";

@theme {
  --color-bg-main: #161316;
  --color-bg-card: #231e23;
  --color-brand-orange: #FF6D29;
  --color-brand-muted: #453027;
  --color-text-muted: #BABABA;
}

body {
  background-color: var(--color-bg-main);
  color: #FFFFFF;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar minimalista a juego */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #161316;
}
::-webkit-scrollbar-thumb {
  background: #453027;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF6D29;
}